# macOS
.DS_Store

# Xcode build & user settings
build/
DerivedData/
*.xcuserstate
*.xcworkspace
*.xcuserdatad/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Firebase/GoogleService (보안 주의: 필요 시 제외)
GoogleService-Info.plist

# IDE
.idea/
.vscode/

# 테스트 폴더 제외
DrowsinessAppTests/
DrowsinessAppUITests/
